h1 {
    color: rgb(140, 255, 152);
    background-color: rgb(3, 3, 1,);
    margin: 75px;
    padding: 25px;
    text-align: center;
}

body {
    background-color: rgb(100, 100, 100);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(140, 255, 152);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 90, 95);
}

nav ul li a:hover {
    background-color: rgb(255, 90, 95);
    color: rgb(255, 255, 243)
}

.pullquote {
    margin-left: 80px;
    margin-right: 80px;
    font-style: italic;
    font-size: 1.5em;
}

